html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

img {
    width: 50%;
}

iframe {
    width: 100%;
    padding: 0.5em;
    border-radius: 2em;
}

.map-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centered {
    padding-top: 4em;
    width: 75%; /* Adjust as needed */
    height: 75%; /* Adjust as needed */
}

.text-center {
    text-align: center;
}

#hidden-dinner-suggestions {
    display: none;
}

button {
    padding: 10px 20px; /* Adjust padding */
    font-size: 16px; /* Adjust font size */
    color: white; /* Text color */
    border: none; /* Remove default border */
    border-radius: 0.25rem; /* Rounded corners */
    cursor: pointer; /* Change mouse cursor on hover */
    transition: background-color 0.2s; /* Smooth transition for hover effect */
}

#yes {
    background-color: #00b14f; /* Background color */
}

#yes:hover {
    background-color: #007937; /* Darker shade on hover */
}

#no {
    background-color: #ac3535; /* Background color */
}

#no:hover {
    background-color: #831e1e; /* Darker shade on hover */
}

#prompt-text {
    font-size: 2em;
    padding: 1em 1em 1em 1em
}